<h1>Create An Account</h1>
{{#em-form model=newUser action="submit" v_icons=true}}
  {{em-input type="email"    property="email"  placeholder="Enter an email address..." label="Email Address"}}
  {{em-input type="password" property="password" placeholder="Enter your password" label="Password"}}
  {{em-input type="password" property="passwordConfirmation" placeholder="Confirm your password" label="Password Confirmation"}}
{{/em-form}}
