<h1>Log In</h1>
{{#em-form model=auth submit="submit"}}
  {{em-input type="email"    property="email"  placeholder="Enter an email address..." label="Email Address"}}
  {{em-input type="password" property="password" placeholder="Enter your password" label="Password"}}
{{/em-form}}
